.blog_container {
    width: 100%;
    /* background-color: red; */
}

.blog_container>h2 {
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;
    color: #94A3B8;
    padding: 10px 3px 12px 3px;
    position: relative;
}

.blog_container>h2::after {
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #222e41;
}