html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* react progress bar0 */

/*
 * react-circular-progressbar styles
 * All of the styles in this file are configurable!
 */

 .CircularProgressbar {
  /*
   * This fixes an issue where the CircularProgressbar svg has
   * 0 width inside a "display: flex" container, and thus not visible.
   */
  width: 100%;
  /*
   * This fixes a centering issue with CircularProgressbarWithChildren:
   * https://github.com/kevinsqi/react-circular-progressbar/issues/94
   */
  vertical-align: middle;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: #ae45ff;
  stroke-linecap: round;
  -webkit-transition: stroke-dashoffset 0.5s ease 0s;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #8C8C8E;
  /* Used when trail is not full diameter, i.e. when props.circleRatio is set */
  stroke-linecap: round;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: #8C8C8E;
  font-size: 20px;
  dominant-baseline: middle;
  text-anchor: middle;
}

.CircularProgressbar .CircularProgressbar-background {
  fill: #A756E6;
}

/*
 * Sample background styles. Use these with e.g.:
 *
 *   <CircularProgressbar
 *     className="CircularProgressbar-inverted"
 *     background
 *     percentage={50}
 *   />
 */
.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-background {
  fill: #A756E6;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
  fill: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
  stroke: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
  stroke: transparent;
}


.home_footer{
  padding: 20px;
  color: #9C9CA2;
  display: flex;
  align-items: center;
  margin-top: 50px;
  background: linear-gradient(95.32deg, #252532 0%, #242430 100%);
}
.home_footer p{
  margin-bottom: 0;
}
.home_footer p:nth-child(2){
  margin-left: auto;
  margin-right: 0;
}

/* blogs page blog styling  */

.blog_container_blog_card{
  width: 100%;
  padding: 17px;
  background: #252532;
  border-radius: 4.5px;
  color: #8C8C8E;
  min-height: 426px;
}
.blog_container_blog_card > img{
  width: 100%;
  border-radius: 9px;
  height: 140px;
}
.blog_container_blog_card > h3{
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin-top: 14px;
}
.blog_container_blog_card > p{
  font-size: 17px;
  line-height: 23px;
  color: #9c9ca296;
}
.blog_container_blog_card > a{
  color: #9C9CA2;
}
.blog_container_blog_card > a:hover{
  color: #9C9CA2;
}
.blog_container_blog_card > a:hover .buttons_blogCard{
  color: #9C9CA2;
  background-color: #0000000c;
}
.buttons_blogCard{
  /* background: rgba(30, 30, 40, 0.8); */
  margin: 0 -17px -17px -17px;
  padding: 13px;
  position: relative;
}
.buttons_blogCard::before{
  content: '';
  position: absolute;
  top: 0;
  left: 17px;
  width: calc(100% - 34px);
  height: 2px;
  background-color: #2B2B34;
}
@media(max-width: 768px){
  .home_footer p:nth-child(2){
    display: none;
  }
  .home_footer{
    margin-top: 30px;
    font-size: 14px !important;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
  }
  .page_title{
    font-size: 26px !important;
  }
}